
@model AddMaterialViewModel

<h1>Add New Item</h1>

<form asp-controller="Materials" asp-action="ProcessAddMaterialForm" method="post">
    <div class="form-group">
        <label>Item </label>
        <input asp-for="@Model.Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <button role="button" class="btn btn-secondary">Submit</button>
    
     
    <div class="form-group">
        <br />
        <select id="drpTypeList" class="form-control" asp-for="@Model.CraftTypeID" asp-items="@Model.CraftTypeOptions">
            <option value="CraftTypeOptions">--Select--</option>
        </select>       
        <span asp-validation-for="CraftTypeID"></span>
        <a asp-controller="CraftType" asp-action="Add" class="btn btn-info" role="button">Add new craft type</a>     
    </div>  
</form>
