@model AddProjectsViewModel

<h1>Add New Project</h1>

<form asp-controller="Projects" asp-action="ProcessAddProjectsForm" method="post">
    <div class="form-group">
        <label>Projects</label>
        <input asp-for="@Model.Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <button role="button" class="btn btn-secondary">Submit</button>

    <div class="form-group">
        <br />
        <select id="drpCatList" class="form-control" asp-for="@Model.CatagoryID" asp-items="@Model.CatagoryOptions">
            <option value= "">--Select--</option>
        </select>
        <span asp-validation-for="CatagoryID"></span>
        <a asp-controller="Catagory" asp-action="Add" class="btn btn-warning" role="button">Add new catagory</a>
    </div>
</form>
