@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Crafter's Creations</h1>
    <p><a asp-controller="Materials" asp-action="Index" class="btn btn-info" role="button">Inventory</a></p>
    <p><a asp-controller="Projects" asp-action="Index" class="btn btn-warning" role="button">Projects</a></p>
    <p><a asp-controller="Search" asp-action="Index">Search </a></p>
</div>


<div class="bg-image">
        <p> <a class="bg-image img-fluid" style="background-image: url('Images/craftbackground.jpg'); height:500vh"></a></p>
    </div>
@*<div class="bg-image">
    <p> <a class="bg-image img-fluid" style="background-image: url('Images\splash.png'); height: 500vh"></a></p>
</div>*@
