@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Crafter's Creations</h1>
    <p><a asp-controller="Materials" asp-action="Index">Materials</a></p>
    <p><a asp-controller="Projects" asp-action="Index">Projects</a></p>
    <p><a asp-controller="Search" asp-action="Index">Search </a></p>
</div>


