@model AddCraftTypeViewModel

<h1> New Craft Type</h1>

<form asp-controller="CraftType" asp-action="ProcessAddCraftTypeForm" method="post">
    <div class="form-group">
        <label>Crafting Type</label>
        <input asp-for="@Model.Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <a asp-controller="Materials" asp-action="Add" class="btn btn-danger" role="button">Cancel</a>
    <input type="submit" value="Submit" />
</form> 