@model List<CraftersCreations.Models.CraftType>

<h1>Craft Types</h1>

<p><a asp-controller="CraftType" asp-action="Add">Add a new craft type</a></p>

@if (Model.Count == 0)
{
    <p>No Craft types are currently listed</p>
}
else
{
    <div>
        <ul>
            @foreach (CraftType craftTypes in Model)
            {
                <li>
                    @craftTypes.Name
                </li>
            }
        </ul>

    </div>
    <a asp-controller="Materials" asp-action="Add" class="btn btn-info" role="button">Back to add new item</a>
}