@model AddCatagoryViewModel

<h1> New Catagory</h1>

<form asp-controller="Catagory" asp-action="ProcessAddCatagoryForm" method="post">
    <div class="form-group">
        <label>Catagory</label>
        <input asp-for="@Model.Name" />
        <span asp-validation-for="Name"></span>
        <a asp-controller="Catagory" asp-action="Add" class="btn btn-danger" role="button">Cancel</a>
    </div>
   
    <input type="submit" value="Submit"/>
</form> 